.home {
    max-width: 70%;
    margin: 0 auto;
    @media (max-width: $phone) {
        max-width: 90%;
    }

    &__title {
        margin-top: 40px;
        text-align: center;
        font-family: $plex-sans;
        font-weight: 600;
        font-size: 50px;
        letter-spacing: 6px;
        padding-bottom: 1%;
        @media (max-width: $phone) {
            font-size: 30px;
        }
    }

    &__desc {
        font-family: $plex-sans;
    }

    .posts {
        margin: 0px auto;
        &__button {
            text-align: center;
            margin: 0px auto;
            margin-bottom: 100px;
            width: 25%;
            @media screen and (max-width: $phone) {
                width: 90%;
            }
            &--next {
                cursor: pointer;
                float: right;
                display: inline-block;
                margin: 0 auto;
                border: none;
                padding: 8px 15px;
                margin-top: 15px;
                background-color: $gray;
                font-family: $plex-mono;
                border-radius: 5px;
                @media screen and (max-width: $phone) {
                    padding: 4px 10px;
                    width: 30%;
                    font-size:10px;
                }
            }
            &--previous {
                cursor: pointer;
                float: left;
                display: inline-block;
                margin: 0 auto;
                border: none;
                padding: 8px 15px;
                margin-top: 15px;
                color: white;
                background-color: black;
                font-family: $plex-mono;
                border-radius: 5px;
                @media screen and (max-width: $phone) {
                    padding: 4px 10px;
                    width: 30%;
                    font-size:10px
                }
            }
        }
    }

    .pagenumber {
        text-align: center;
        font-family: $plex-sans;
        letter-spacing: 5px;
        @media screen and (max-width: $phone) {
            font-size: 11px;
        }
    }

    .post {
        width: 50%;
        margin: 0 auto;
        line-height: 1.5;
        margin-bottom: 10px;
        text-align: center;
        padding: 25px 10px 30px 10px;
        border-bottom: $default_border;
        @media screen and (max-width: $phone) {
            width: 90%;
        }

        &__title {
            display: block;
            color: black;
            text-decoration: none;
            font-family: $plex-mono;
            font-weight: 200;
            font-size: 25px;
            @media (max-width: $phone) {
                font-size: 20px;
            }
        }

        &__author {
            color: grey;
            text-decoration: none;
            font-family: $plex-mono;
            font-weight: 100;
            font-size: 15px;
            @media (max-width: $phone) {
                font-size: 12px;
            }
            font-style: italic;
        }

        &__body {
            display: inline-block;
            text-align: left;
            font-family: $plex-serif;
            font-weight: 400;
            margin-bottom: 10px;
            @media (max-width: $phone) {
                font-size: 12px;
            }
        }

        &__date {
            font-family: $plex-mono;
            font-weight: bold;
            @media (max-width: $phone) {
                font-size: 12px;
            }
        }

        &__time {
            font-family: $plex-mono;
            font-weight: lighter;
            @media (max-width: $phone) {
                font-size: 12px;
            }
        }

        &__readmore {
            color: black;
            text-decoration: none;
            display: block;
            margin: 0 auto;
            width: 100px;
            padding: 8px 15px;
            margin-top: 15px;
            background-color: #dddddd;
            font-family: $plex-mono;
            font-weight: 100;
            border-radius: 5px;
        }

        &__edit {
            display: block;
            width: 25px;
            float: right;
            margin-top: -25px;
        }
    }

    .topthree {
        &__list {
            font-family: $plex-mono;
            text-align: center;
            margin-top: 2%;
            line-height: 200%;
        }
        &__user {
            color: black;
            text-decoration: none;
            font-size: 20px;
            @media (max-width: $phone) {
                font-size: 12px;
            }
        }
    }
    &__heading {
        padding-bottom: 1%;
        margin-top: 40px;
        text-align: center;
        font-family: $plex-sans;
        font-weight: 500;
        font-size: 40px;
        letter-spacing: 6px;
        @media (max-width: $phone) {
            font-size: 20px;
            letter-spacing: 4px;
        }
        &--small {
            padding-bottom: 1%;
            margin-top: 40px;
            text-align: center;
            font-family: $plex-sans;
            font-weight: 500;
            font-size: 30px;
            letter-spacing: 6px;
            @media (max-width: $phone) {
                font-size: 15px;
                letter-spacing: 2px;
            }
        }
    }

    .search {
        text-align: center;
        &__wrapper {
            display: inline-block;
            border: $default_border;
            border-radius: 12px;
            padding: 1px 5px;
        }

        .search-form {
            &__search {
                float: left;
                font-family: $plex-sans;
                height: 20px;
                border: none;
                padding: 2px 5px;
            }

            &__submit {
                cursor: pointer;
                float: left;
                margin-left: 2px;
                background: none;
                border: none;
                width: 20px;
                height: 20px;
                background:url(img/search.png) no-repeat 0px 0px;
                background-size: 20px 20px;
            }
        }
    }
}
