.singlepost {
    width: 90%;
    margin: 0px auto;
    text-align: center;
    margin-top: 25px;

    &__title {
        font-family: $plex-mono;
        font-size: 35px;
        @media (max-width: $phone) {
            font-size: 20px;
        }
    }

    &__author {
        display: block;
        margin-top: 20px;
        font-family: $plex-sans;
        text-decoration: none;
        color: gray;
        font-style: italic;
        font-weight: 100;
    }

    &__body {
        display: inline-block;
        margin: 0px auto;
        margin-top: 10px;
        line-height: 1.5;
        text-align: left;
        font-family: $plex-serif;
        @media (max-width: $phone) {
            font-size: 10px;
        }
    }

    &__date {
        margin-top: 5%;
        @media (max-width: $phone) {
            margin-top: 10%;
        }
        font-size: 14px;
        font-family: $plex-mono;
    }

    &__time {
        font-size: 14px;
        font-family: $plex-mono;
    }
    &__edit {
        display: block;
        margin: 0 auto;
        width: 25px;
        margin-top: 5px;
    }
}
