.user {
    width: 90%;
    margin: 0px auto;
    text-align: center;
    margin-top: 2%;

    &__username {
        text-align: center;
        font-family: $plex-mono;
        font-weight: 400;
        font-size: 50px;
        letter-spacing: 2px;
        @media (max-width: $phone) {
            font-size: 30px;
        }
    }

    .userinfo {
        display: inline-block;
        margin: 0px auto;
        margin-top: 10px;
        text-align: left;
        &__name {
            font-family: $plex-sans;
        }

        &__email {
            font-family: $plex-sans;
        }

        &__regdate {
            font-family: $plex-sans;
        }
    }

    .posts {
        &__heading {
            margin-top: 5%;
            text-align: center;
            font-family: $plex-sans;
            font-weight: 600;
            font-size: 40px;
            letter-spacing: 6px;
            @media (max-width: $phone) {
                font-size: 30px;
            }
        }
    }

    .post {
        width: 50%;
        margin: 0 auto;
        line-height: 1.5;
        margin-top: 40px;
        margin-bottom: 10px;
        border-bottom: $default_border;
        text-align: center;

        @media screen and (max-width: $phone) {
            width: 90%;
        }

        &__title {
            display: block;
            color: black;
            text-decoration: none;
            font-family: $plex-mono;
            font-weight: 200;
            font-size: 25px;
            @media (max-width: $phone) {
                font-size: 20px;
            }
        }

        &__author {
            color: gray;
            text-decoration: none;
            font-family: $plex-mono;
            font-weight: 100;
            font-size: 15px;
            font-style: italic;
        }

        &__body {
            display: inline-block;
            text-align: left;
            font-family: $plex-serif;
            font-weight: 400;
            margin-bottom: 10px;
            @media (max-width: $phone) {
                font-size: 12px;
            }
        }

        &__date {
            font-family: $plex-mono;
            font-weight: bold;
            @media (max-width: $phone) {
                font-size: 12px;
            }
        }

        &__time {
            font-family: $plex-mono;
            font-weight: lighter;
            @media (max-width: $phone) {
                font-size: 12px;
            }
        }

        &__readmore {
            color: black;
            text-decoration: none;
            display: block;
            margin: 0 auto;
            width: 100px;
            padding: 8px 15px;
            margin-top: 15px;
            background-color: #dddddd;
            font-family: $plex-mono;
            font-weight: 100;
            border-radius: 5px;
        }
        &__edit {
            display: block;
            width: 25px;
            float: right;
            margin-top: -25px;
        }
    }
}
