@import "reset";
@import "variables";
@import "header";
@import "home";
@import "login";
@import "error";
@import "register";
@import "post";
@import "submit";
@import "footer";
@import "user";
@import "about";
@import "submissions";
@import "edit";


//scrollbar format
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
